body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #302C34;
}

.header {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  height: 40px;
}
.search-input {
  height: 40px;
  width: 690px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  color: #BFBFBF;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 32px;
}

.button {
  background: none;
  border: none;
  height: 40px;
  padding-left: 36px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 24px;
}

.sign-in {
  background: #1890FF;
  border: 1px solid #1890FF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: left 16px center;
  color: #FFFFFF;
}

.sign-cart {
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  background-image: url(../img/shopping-cart.svg);
  background-repeat: no-repeat;
  background-position: left 16px center;
  color: #595959;
}

.promo {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 300px;
  background: #FFF1B8;
  border-radius: 10px;
  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-position: right -200px center;
  margin-top: 40px;
}
.promo-title {
  margin: 0;
  margin-left: 70px;
  padding-top: 68px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
}

.promo-paragraph {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 68px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  max-width: 538px;
}

.restaurant {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px;
  margin-bottom: 60px;
}
.restaurant-title {
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.cards {
  flex-basis: 100%;
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 30%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  margin-bottom: 30px;
}

.card img {
  border-radius: 7px 7px 0px 0px;
}

.text-box {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 34px;
}
.name-restaurant {
  flex-basis: 50%;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 20px 0px 10px 0px;
}

.time {
  margin-left: 100px;
  align-self: center;
  width: 55px;
  height: 22px;
  background: #262626;
  border-radius: 2px;
  color: #FFFFFF;
  padding: 1px 8px;
}

.rating {
  flex-basis: 20%;
  padding-left: 22px;
  background-image: url(../img/star.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left top 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFC107;
}

.price {
  flex-basis: 30%;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}

.price::after {
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.category {
  flex-basis: 30%;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}

.input-search {
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  color: #BFBFBF;
  width: 306px;
  height: 34px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 32px;
}

.footer {
  background: white;
}

.footer > div {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background: white;
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
  margin-right: 15px;
}

.icons a:not(:last-child) {
  margin-right: 21px;
}

@media (max-width: 1200px) {
  .search-input {
    flex: 0.8;
  }
}
@media (max-width: 992px) {
  .promo {
    background-image: none;
  }

  .restaurant-title {
    flex-basis: 100%;
  }

  .input-search {
    order: -1;
    margin-bottom: 34px;
    margin-top: 34px;
  }
}
@media (max-width: 768px) {
  .promo {
    padding-right: 30px;
  }

  .promo-title {
    margin-left: 0;
    text-align: center;
  }

  .promo-paragraph {
    margin-left: 30px;
    text-align: justify;
  }

  .footer > div {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .header {
    flex-wrap: wrap;
  }

  .search-input {
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .promo {
    margin: 0;
    width: 80%;
    margin-top: 100px;
    height: auto;
    padding-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 30px;
    padding-right: 50px;
  }

  .restaurant {
    margin: 0;
    width: 60%;
    margin-left: 10px;
  }

  .card {
    margin-right: 10px;
  }

  .footer > div {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }
}