$color: #302C34
@mixin container()
    width: 90%
    max-width: 1200px
    margin: auto
@mixin input()
    border: 1px solid #D9D9D9
    border-radius: 2px
    font-size: 16px
    line-height: 24px
    color: #BFBFBF 
body 
    padding: 0
    margin: 0
    font-family: 'Roboto', sans-serif
    color: $color
.header
    @include container
    display: flex
    justify-content: space-between
    margin-top: 44px
    height: 40px   
.search-input
    height: 40px
    width: 690px
    @include input
    background-image: url(../img/home.svg)
    background-repeat: no-repeat
    background-position: left 10px center
    padding-left: 32px
.button
    background: none
    border: none
    height: 40px
    padding-left: 36px
    padding-right: 16px
    font-size: 16px
    line-height: 24px
.sign-in
    background: #1890FF
    border: 1px solid #1890FF
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015)
    border-radius: 2px
    background-image: url(../img/user.svg)  
    background-repeat: no-repeat
    background-position: left 16px center
    color: #FFFFFF
.sign-cart
    border: 1px solid #D9D9D9
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015)
    border-radius: 2px
    background-image: url(../img/shopping-cart.svg)
    background-repeat: no-repeat
    background-position: left 16px center
    color: #595959
.promo
    @include container
    height: 300px
    background: #FFF1B8
    border-radius: 10px
    background-image: url(../img/promo.png) 
    background-repeat: no-repeat
    background-position: right -200px center
    margin-top: 40px
.promo-title
    margin: 0
    margin-left: 70px
    padding-top: 68px
    margin-bottom: 15px
    font-weight: bold
    font-size: 39px
    line-height: 46px
.promo-paragraph
    margin: 0
    margin-left: 70px
    margin-bottom: 68px
    font-weight: normal
    font-size: 24px
    line-height: 28px
    max-width: 538px
.restaurant
    @include container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 56px
    margin-bottom: 60px
.restaurant-title
    margin: 0
    font-size: 36px
    line-height: 42px
    color: #000000
.cards
    margin-top: 34px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.card
    flex-basis: 30%
    background: #FFFFFF
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05)
    border-radius: 7px
    margin-bottom: 30px
.card:nth-child(3n+3)
    margin-right: 0
.card img
    border-radius: 7px 7px 0px 0px
.text-box
    @include container
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin-bottom: 34px
.name-restaurant
    font-weight: bold
    font-size: 24px
    line-height: 32px
    color: #000000
    margin: 20px 0px 10px 0px
.time
    margin-left: 100px
    align-self: center
    width: 55px
    height: 22px
    background: #262626
    border-radius: 2px
    color: #FFFFFF
    padding: 1px 8px
.rating
    flex-basis: 20%
    padding-left: 22px
    background-image: url(../img/star.png)
    background-size: 15px
    background-repeat: no-repeat
    background-position: left top 7px
    font-weight: bold
    font-size: 18px
    line-height: 32px
    color: #FFC107
.price
    flex-basis: 30%
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: #8C8C8C
.price::after
    content: " "
    width: 5px
    height: 5px
    border-radius: 50%
    background: #8C8C8C
    display: inline-block
    vertical-align: middle
    margin-left: 15px
.category
    flex-basis: 30%
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: #8C8C8C
.input-search
    @include input
    width: 306px
    height: 34px
    background-image: url(../img/search.svg)
    background-repeat: no-repeat
    background-position: left 10px center
    padding-left: 32px
.footer
    background: white
.footer>div
    @include container
    background: white
    height: 156px
    display: flex
    justify-content: space-between
    align-items: center
.footer-menu a 
    text-decoration: none
    font-size: 18px
    line-height: 21px
    color: #595959
    margin-right: 15px
.icons a:not(:last-child)
    margin-right: 21px
.section
    min-width: 100%
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%)
    padding-bottom: 50px
.restaurant-box
    margin-top: 40px
    margin-right: 800px
    padding-top: 10px
    width: auto
    display: inline-block
.restaurant-box .rating, .restaurant-box .price, .restaurant-box .category
    display: inline-block
.restaurant-box .rating
    margin-left: 35px
.restaurant-box .price
    margin-left: 26px
.restaurant-box .category
    margin-left: 10px
.card-text
    @include container
    margin-top: 24px
.food-name
    font-weight: normal
    font-size: 24px
    line-height: 32px
    margin-bottom: 10px
.food-text
    font-size: 18px
    line-height: 21px
    color: #8C8C8C
    margin-bottom: 24px
.food-price
    display: inline
    font-weight: bold
    font-size: 20px
    line-height: 32px
    margin-left: 32px
.in-cart
    margin: 0
    border: none
    background: #1890FF
    border-radius: 2px
    font-weight: normal
    font-size: 16px
    line-height: 24px
    color: #FFFFFF
    margin-bottom: 30px
    padding-right: 36px
    padding-left: 16px
    padding-top: 8px
    padding-bottom: 8px
    background-image: url(../img/shopping-cart-white.svg)
    background-repeat: no-repeat
    background-position: right 16px center
.restaurant-name
    margin-top: 40px
@media (max-width: 1200px)
    .restaurant-box
        display: flex
    .restaurant-box .rating, .restaurant-box .price, .restaurant-box .category
        margin-left: 0
    .restaurant-box .price
        width: 250px
    .search-input
        flex: 1
    .cards
        justify-content: space-between
    .card
        margin-right: 0
        width: 330px
    .card img
        width: 330px
    .card:nth-child(2n)
        margin-right: 0
@media (max-width: 992px)
    .card
        width: 350px
    .card img
        width: 350px
    .promo
        background-image: none
    .input-search
        order: -1
        margin-bottom: 34px
        margin-top: 34px
        min-width: 306px
    .restaurant-title
        flex-basis: 100%  
@media (max-width: 768px)
    .header
        flex-wrap: wrap
    .restaurant-box
        margin-top: 0
    .restaurant-name
        margin-top: 20
    .restaurant-title
        flex-basis: 100%  
    .section
        padding-top: 20
    .promo-title
        margin-left: 30px
        text-align: justify
    .promo-paragraph
        margin-left: 30px
        text-align: justify
    .card
        width: 306px
    .card img
        width: 306px
    .footer>div
        flex-direction: column
        justify-content: center
        align-items: flex-start
    .footer-menu
        margin-top: 20px
        margin-bottom: 20px
    .text-box 
        flex-direction: column
    .time
        margin-left: 0
        align-self: flex-start
@media (max-width: 576px)
    .buttons
        margin-top: 10px
    .restaurant-title
        @include container
    .restaurant-name
        margin-right: 0
        padding-top: 0
        margin-bottom: 10px
    .restaurant-box
        margin-top: 0
        display: flex
        flex-direction: column
        padding-top: 0 
        margin-bottom: 10px
    .header
        flex-wrap: wrap
        margin-bottom: 100px
    .search-input
        order: 1
        margin-top: 10px
        margin-bottom: 10px
    .promo
        margin: 0
        margin-top: 100px
        height: auto
        padding-bottom: 20px
        padding-left: 14px
        padding-right: 14px
        margin-left: 0
        @include container
    .section
        @include container
        padding-top: 0
    .input-search
        min-width: 0
    .card
        width: 294px
    .card img
        width: 294px
    .promo-title
        margin-left: 0
        text-align: none
    .promo-paragraph
        margin-left: 0
        text-align: none
    .restaurant
        margin: 0
        @include container
    .text-box 
        flex-direction: column
    .footer>div
        height: auto
        margin-top: 20px
        margin-bottom: 20px
    .name-restaurant
        flex-basis: 0%
    .time
        margin-left: 0
        align-self: flex-start
        flex-basis: 0%
    .rating
        flex-basis: 0%
    .category
        flex-basis: 0%
    .price
        flex-basis: 0%
    .footer-menu
        display: flex
        flex-direction: column
    .card:nth-child(2n + 1) 
        margin-right: 0
    .promo-title
        font-weight: bold
        font-size: 30px
        line-height: 37px
    .promo-paragraph
        font-weight: normal
        font-size: 20px
        line-height: 24px